:root {
    --marron-claro: #ffe4be;
    --marron-oscuro: #71593d;
    --marron-muy-oscuro: #2b1c0f;
    --gris-muy-claro: #f8f8f8;
    --gris-muy-oscuro: #1b1b1b;
    --negro-puro: #000;
    --blanco-puro: #fff;
}