:root {
    --blanco: #FAFAFA;
    --gris: #383838;
    --negro-puro: #000;
    --blanco-puro: #fff;

    /* v2 */
    --amarillo: #FFF59E;
    --blanco-grisaceo: #F5F5F5;
    --negro-grisaceo: #383838;
}